name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY_B64 }}" | base64 -d > ~/.ssh/key
          chmod 600 ~/.ssh/key

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/key ubuntu@${{ secrets.EC2_HOST }} '
            cd ~/QA-langing-page &&
            git pull origin main &&
            npm install &&
            npm run build &&
            sudo rm -rf /var/www/html/* &&
            sudo cp -r dist/* /var/www/html/
          '
